
<!DOCTYPE html>
<html>
  <title>Trip Planner - {% block title %}{% endblock %}</title>
  <head>
    <!-- Stylesheets go here! -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/stylesheet.css" rel="stylesheet">
  </head>
  <body>
  	  <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">About</a></li>
        <li role="presentation"><a href="#">Contact</a></li>
      </ul>
    {% block content %}
    {% endblock %}

    <!-- Script tags go here! -->

  </body>
</html>
